:root {
    --primary-text-color: #212121;
    --secondary-text-color: #E5E5E5;
    --brand-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------HEADER-------------------------------------------------- */
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color)

}

.logo:hover,
.logo:focus {
   color: #2196F3;
}

.web {
    color: #2196F3;
}

.list {
    list-style: none;
}

.list-nav {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.main {
    background-color: var(--brand-color)
}
